article {
    border: 2px solid black;
    max-width: 100%;
    width: 50%;
    margin-bottom: 20pt;
    border-radius: 10px;
    background-color: white;
}

h1 {
    padding: 15px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
h2 {
    text-align: center;
}
.print {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}
.basse {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 20px;
}

.btn {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 8px;
    gap: 5px;
}

input{
    max-width: 100%;
    width: 40%;
    padding: 8px;
}
.sidebar {
    max-width: 100%;
    width: 80%;
    margin-bottom: 20pt;
    border-radius: 10px;
    background-color: white;
}
.button{
    margin-bottom: 1rem;
    padding: 3px;
    border-radius: 8px;
    background-color: transparent;
    font-weight: bold;
}
.aside {
    max-width: 1024px;
}
.side {
    max-width: 512px; ;
}
.ide {
    max-width: 256;
}